
<div class="d-flex flex-column flex-column-fluid">
    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <!--begin::Title-->
                <div class="d-flex align-items-center">
                    <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0 me-3">Edit Form Field</h1>
                </div>
                <!--end::Title-->
                <!--begin::Breadcrumb-->
                <%= render 'layouts/components/breadcrumb' %>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center gap-2 gap-lg-3">
                <!--begin::Filter menu-->
                <div class="d-flex">
                    <select name="campaign-type" data-control="select2" data-hide-search="true" class="form-select form-select-sm bg-body border-body w-175px select2-hidden-accessible" data-select2-id="select2-data-7-m1nf" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                        <option value="Twitter" selected="selected" data-select2-id="select2-data-9-zk8s">Select Campaign</option>
                        <option value="Twitter">Twitter Campaign</option>
                        <option value="Twitter">Facebook Campaign</option>
                        <option value="Twitter">Adword Campaign</option>
                        <option value="Twitter">Carbon Campaign</option>
                    </select><span class="select2 select2-container select2-container--bootstrap5" dir="ltr" data-select2-id="select2-data-8-num0" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select form-select-sm bg-body border-body w-175px" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-campaign-type-ea-container" aria-controls="select2-campaign-type-ea-container"><span class="select2-selection__rendered" id="select2-campaign-type-ea-container" role="textbox" aria-readonly="true" title="Select Campaign">Select Campaign</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                    <a href="#" class="btn btn-icon btn-sm btn-success flex-shrink-0 ms-4" data-bs-toggle="modal" data-bs-target="#kt_modal_create_campaign">
                        <i class="ki-duotone ki-plus fs-2"></i>
                    </a>
                </div>
                <!--end::Filter menu-->
                <!--begin::Secondary button-->
                <!--end::Secondary button-->
                <!--begin::Primary button-->
                <!--end::Primary button-->
            </div>
            <!--end::Actions-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-xxl">
            <%= form_with url: update_form_field_path(params[:project_apikey], @form.apikey), id: "edit-form-field-form" do |f| %>
                <%= render 'custom_forms/show_tabs/form_field_form', f: f %>
            <% end %>
        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->
</div>