<%= form_tag(do_new_user_path, method: :post) do %>
    <input class="form-control mb-3" type="text" id="email" name="email" placeholder="johndoe@email.com" />
    <button type="submit" class="w-100 btn btn-lg btn-primary">Next</button>
<% end %>