<div class="d-flex flex-center flex-column flex-lg-row-fluid">
    <div class="w-lg-500px p-10">
        <div class="container">
            <div class="col align-items-center">
                <div class="text-center">
                    <div class="p-3 pb-md-4 mx-auto text-center">
                        <div class="text-center mb-8">
                            <!--begin::Title-->
                            <h1 class="h2 mb-3">Invite New User</h1>
                            <!--end::Title-->
                            <!--begin::Subtitle-->
                            <div class="text-gray-500 fw-semibold fs-6">Invite them to your <%= @current_account.name %> account.</div>
                            <!--end::Subtitle=-->
                        </div>
                    </div>
                    <%= new_invite %>
                </div>
            </div>
        </div>
    </div>
</div>