#form-field-children--list {
    & svg {
        height: 20px;
        width: 20px;
        margin-left: 10px;
        & path {
            fill: var(--bs-text-danger);
        }
    }
}

.form-field {
    position: relative;
    border: solid 1px transparent;
    padding: 5px;
    & .form-field__edit-overlay {
        position: absolute;
        top: 5px;
        right: 5px;
        display: none;
    }
    &:hover {
        border: dashed 1px var(--bs-text-primary);
        border-radius: 5px;
        & .form-field__edit-overlay {
            display: block;
        }
    }
}