<%= render 'layouts/components/invites_notice', invites: @invites %>
<div class="d-flex flex-center flex-column flex-lg-row-fluid">
    <div class="w-lg-500px p-10">
      <div class="container">
        <div class="col align-items-center">
          <div class="text-center">
            <h1 class="h2">Which account?</h1>
            <div id="select-accounts" class="row g-2 justify-content-center">
              <%= list_accounts %>
            </div>
            <hr>
            <p class="m-0">or</p>
            <a class="btn btn-link" href="<%= create_account_1_path %>">Create a new account</a>

          </div>
        </div>
      </div>
    </div>
  </div>